<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd"
       >

    <bean id="validatorRegister" class="com.juchnicki.validators.ValidatorRegister">
        <property name="validationQueue">
            <list value-type="com.juchnicki.interfaces.Validatable">
                <ref bean="stringLengthValidatorRegister"/>
                <!-- This bean is registered as a component annotation -->
                <!--<ref bean="stringNotContainsNumbers"/>-->
                <ref bean="stringContainsForbiddenCharacters"/>
             </list>
        </property>
    </bean>

    <bean id="textReader" class="com.juchnicki.utils.TextReader"/>
    <bean id="stringContainsForbiddenCharacters" class="com.juchnicki.validators.StringContainsForbiddenCharacters"/>
    <bean id="stringLengthValidatorRegister" class="com.juchnicki.validators.StringLengthValidatorRegister"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames"> <!-- this property name is worth remembering -->
             <list>
                 <value>Messages/messages</value>
             </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>Properties/properties.properties</value>
        </property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.juchnicki.model"/>
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.Oracle12cDialect</prop>
            </props>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${dbUrl}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!-- don't have to register post processor for annotation scan -->
    <context:annotation-config/>
    <!-- don't have to register post processor for component scan as a bean -->
    <context:component-scan base-package="com.juchnicki.validators"/>
    <context:component-scan base-package="com.juchnicki.controllers"/>
    <context:component-scan base-package="com.juchnicki.utils"/>
    <context:component-scan base-package="com.juchnicki.model"/>
</beans>